.farming-content {
  padding-top: 30px;
}
 .farming-content p,
 .farming-content h1{
    margin: 0;
 }
.dividens-header-container{
    background: #1B1E29;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 16px;
    padding: 20px;
    border-radius: 20px;
}
@media (min-width: 1024px) {
    .dividens-header-container{
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 40px;
        padding: 24px;
    }
  
}
.dividens-header-item{
    display: flex;
    align-items: center;
    gap: 16px;
}
.dividens-header-item-content{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
@media (min-width: 576px)  {
    .dividens-header-item-content{
        flex-direction: column;
        align-items: flex-start;
    }
  
}
.dividens-header-item-content-label{
    font-size: 14px;
    font-weight: 500;
    color: #696C80;
}
.dividens-header-item-content-value{
    font-size: 18px;
    font-weight: 500;
    color: #EBECF2;
}
.dividens-content-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    color: #fff;
}
@media (min-width: 1024px)  {
    .dividens-content-container {
        flex-direction: row;
        gap: 30px;
    }
}
.dividens-card{
    background: #1B1E29;
    border-radius: 20px;
    padding: 16px 20px;
    height: fit-content;
}
.dividens-card-title{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -0.03em;
}
@media (min-width: 1024px) {
  .dividens-card {
    flex-basis: 49%;
    padding: 24px;
    min-height: 468px;
  }
}
.epoch-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.epoch-row:last-child{
    border: none !important;
}
.epoch-row .left{
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 20px 0;
    width: 100%;
}
.token-icon{
    padding: 12px;
    background: #282D3D;
    border-radius: 50%;
}
.epoch-content{
    width: 100%;
    font-weight: 500;
    color: #EBECF2;
}
.epoch-content h1{
    font-size: 16px;
}
.epoch-content p {
  font-size: 14px;
  
  margin-top: 5px;
}
.epoch-content hr {
  color: #272D3D;
  margin: 0;
  margin-top: 20px;
  height: 1px;
}
.allocation-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}
@media (min-width: 576px) {
  .allocation-header {
    flex-direction: row;
  }

}

.unstake-btn{
    background-color: #3E4252 !important;
    margin: 5px;
    width: 115px !important;
    margin-left: auto;
    margin-right: 16px;
}
.stake-btn{
    width: 115px !important;
}
.allocation-list{
    background-color: #272D3D;
    border-radius: 20px;
    padding: 0 16px;
    font-size: 16px;
    line-height: 23px;
    font-weight: 600;
    letter-spacing: -0.02em;
    color: rgb(255 255 255 / 0.75);
}
.list-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
}
.allocation-list-divider{
    height: 1px;
    background-color: #696C80;
    opacity: 0.3;
    width: 100%;
}
.list-row p:first-child {
  font-weight: 400;
  margin: 0;
  color: #696C80;
}
.list-row p:last-child{
    font-weight: 400;
    margin: 0;
    color: #C7CAD9;
}
.claim-all-btn{
    width: auto !important;
    justify-content: space-between;
    background: #3E4252 !important;
}
.claim-modal-container{
    background-color: #171633;
    position: absolute;
    right: 0;
    display: flex;
    height: 88px;
    width: 240px;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    z-index: 10;
}
.claim-modal-container button{
    background-color: transparent;
    display: flex;
    gap:18px;
    align-items: center;
    padding: 10px;
    border: none;
    color: #fff;
}

.FarmingAllocateModal .modalWrapper{
    color: #fff;
    padding:0 16px 24px 16px;
    border-color: rgba(255, 255, 255, 0.15);
    border-width: 1px;
    border-radius: 30px;
    overflow: hidden;
    
}
@media (min-width: 1024px) {
  .FarmingAllocateModal .modalWrapper {
    width: 368px;
  }

}
.FarmingAllocateModal  .Modal-title {
    /* font-weight: 600;
    font-size: 30px;
    margin: 0; */
}
.FarmingAllocateModal .Modal-title-bar{
    padding: 16px;
}
.FarmingAllocateModal .Modal-body{
    /* border-top: 1px solid rgba(27, 30, 41, 0.5); */
    border-top: 1px solid #282D3D;
    padding-top: 16px;
}
.FarmingAllocateModal .modal-close {
    padding: 10px;
    background-color: rgba(118, 118, 128, 0.24);
    border-radius: 50%;
    cursor: pointer;
    margin-left: auto;
}
.farming-modal-content {
    width: 100%;
    padding-bottom: 20px;
    border-top: 1px solid #282D3D;
}
.farming-modal-content h2{
    margin: 0;
    margin-bottom: 10px;
    padding-top: 20px;
    font-size: 15px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.50);
}
.farming-input {
    outline: 2px solid transparent;
    outline-offset: 2px;
    color: rgba(255, 255, 255, 0.50);
    letter-spacing: -0.03em;
    font-weight: 500;
    font-size: 24px;
    padding:17px ;
    background-color: #282D3D;
    border-style: none;
    border-radius:10px;
    width: 100%;
    margin-bottom: 16px;
}
.balance-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
@media (min-width: 576px) {
    .balance-container{
        flex-direction: row;
    }

}
.balance-container .balance{
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
}
@media (min-width: 576px)  {
    .balance-container .balance {
        flex-direction: column;
        flex-basis: 30%;
    }
  
}
.balance-container .selector{
    /* padding-top: 20px; */
    flex-basis: 70%;
    flex: none;
}
.balance-title{
    padding-top: 0;
    color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
    margin: 0;
}
.balance-value {
    padding-left: 10px;
    color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
    margin: 0;
}
@media (min-width: 576px) {
    .balance-title {
        /* padding-top: 10px; */
    }
    .balance-value{
        padding-left: 0;
    }
}
.PercentageSelector{
   
    letter-spacing: -0.02em;
    line-height: 23px;
    font-weight: 600;
    font-size: 15px;
    gap: 8px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    margin-bottom: 15px;
}
@media (min-width: 1200px)  {
    .PercentageSelector{
        margin-bottom: 0;
    }
}
.SelectorButton{
     color: #fff;
    padding:2px 8px;
    background-color: rgba(68,138,255,0.3);
    color: #448aff;
    border-radius: 10px;
    white-space: nowrap;
    user-select: none;
    border: none !important;
    font-size: 12px;
}
.SelectorButton:hover{
    opacity: 0.8;
}
.footer-btns{
    /* margin-top: 24px; */
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.collect-switch{
    border-color: transparent;
    border-radius: 9999px;
    cursor: pointer;
    width: 42px;
    height: 24px;
    display: inline-flex;
    position: relative;
    align-items: center;
}
.bg-enabled {
  background-color: #282D3D;
}
.bg-disabled {
  background-color: rgba(39, 45, 61, 0.7);
}

.rounded-full {
  border-radius: 9999px;
}
.translate-x-9 {
    transform:translateX(14px)
}
.translate-x-0 {
  transform: translateX(-4px)
}

.switch-thumb{
    width: 16px;
    height: 16px;
    display: inline-block;
    pointer-events: none;
    border-radius: 9999px;
}
.enabled-thumb{
    background-color: #448AFF;
}
.disabled-thumb {
  background-color: #696C80;
}